@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  background-color: rgba(#000000, 0.3);
  border-radius: 50%;
  transition: background-color 0.15s ease-in-out;

  @include hover {
    &:hover {
      background-color: rgba(#3b3b3b, 0.3);
    }
  }
}
