@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.work {
  @include list-reset;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.875rem;
}

.item {
  padding: 1.5rem 1.5rem 3.75rem 1.5rem;
  background-color: $dark-gray-color;
  border-radius: $border-radius;
  transition: all 0.15s ease-in-out;

  @include hover {
    &:hover {
      background-color: $primary-color;

      .title {
        color: #191919;
        &::after {
          background-color: currentColor;
        }
      }

      .text {
        color: #191919;
      }
    }
  }
}

.title {
  position: relative;
  margin: 0 0 1.5rem 0;
  padding-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 3.5rem;
    height: 2px;
    background-color: $primary-color;
  }
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.125rem;

  color: rgba($secondary-color, 0.5);
}

@include tablet {
  .work {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include mobile {
  .work {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }

  .item {
    padding: 1.5rem;
  }
}
