@import '../../../styles/vars.scss';
@import '../../../styles/mixins.scss';

.list {
  @include list-reset;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.link {
  color: $secondary-color;
  font-weight: 700;
  font-size: 14px;
  transition: color 0.15 ease-in-out;

  @include hover {
    &:hover {
      color: $primary-color;
    }
  }
}

@include small-tablet {
  .list {
    gap: 1.5rem;
  }
}

@include mobile {
  .navbar {
    display: none;
  }
}
