@import '../../styles/vars.scss';
@import '../../styles/mixins.scss';

.footer {
  padding: 2rem 0;
  background-color: $dark-gray-color;
}

.container {
  @include container;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: rgba($secondary-color, 0.1);
}

.bottom {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy {
  margin-top: 2rem;
  font-size: 0.75rem;
  color: $light-gray-color;
  text-align: center;
}
