.about {
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descr {
  margin: 0;
  margin-bottom: 90px;
  max-width: 734px;
  font-size: 1rem;
  line-height: 2rem;
  color: #a6a6a6;
  text-align: center;
}
