@import '../../../styles/mixins.scss';

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.text {
  width: auto;
  transform: translateY(0.25rem);
}

@include mobile {
  .text {
    display: none;
  }
}
